*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background: black;
}

/* ==========================navbar start============================== */

.container{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid silver;
}

i{
    color: silver;
}

            /* div 1 start */
            
.d1{
    display: flex;
    align-items: center;
    margin-left: 40px;
    width: 15%;

}

#img1{
    margin-left: 20px;
}

a{
    text-decoration: none;
}

h2{
    font-size: 25px;
    color: silver;
}

            /* div 1 end */

            /* div 2 start */

.d2{
    width: 50%;
    display: flex;
    align-items: center;
}

#btn1{
    background-color: rgb(243, 245, 247);
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

#btn-i{
    font-size: 20px;
    color: rgb(26, 25, 25);   
}

#btn1 input{
    width: 90%;
    height: 43px;
    border: none;
    background: transparent;
    padding-left: 30px;
    margin-left: 10px;
}

            /* div 2 end */

            /* div 3 start */

.d3{
    width: 10%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

#d3-i{
    font-size: 20px;
}

            /* div 3 end */

            /* div 4 start */

.d4{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

#d4-i{
    font-size: 20px;
}

#img2{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

            /* div 4 end */

hr{
    height: 1px;
}

/* ==========================navbar start============================== */